.navigate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: mediumspringgreen;
}
.navigateLink {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navigateLinkPar {
    margin: 0;
    color: white;
    font-weight: bold;
}
.navigateLinkButton {
    border: 2px solid mediumseagreen;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    background: transparent;
    text-decoration: none;
    color: mediumseagreen;
    transition: all 0.5s ease;
}
.navigateLinkButton:hover {
    background-color: mediumseagreen;
    color: white;
}
.listItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 30px;
}
.item {
    width: 300px;
    height: 250px;
    border: 2px solid mediumseagreen;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.itemSpan {
    font-weight: bold;
}
.itemPar {
    margin: 0;
}
.itemDiv {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.itemButton {
    margin: 0;
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    color: white;
}
.add {
    background-color: mediumseagreen;
}
.remove {
    background-color: red;
}